h1 {
  color: black;
  font-family: "Courgette", cursive;
  font-size: 40px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Cookie", cursive;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #5585b5;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: black;
  font-size: 64px;
  font-family: "Cookie", cursive;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 20px;
  font-family: "Cookie", cursive;
  top: -3px;
}

a {
  text-decoration: none;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}
